@font-face {
    font-family: Filipi;
    src: url(../plugins/global/fonts/custom/FilipiFont.otf);
}

@font-face {
    font-family: Little-Orion;
    src: url(../plugins/global/fonts/custom/Little\ Orion\ -\ Personal\ Use.otf);
}

@font-face {
    font-family: Asleepy;
    src: url(../plugins/global/fonts/custom/Asleepytiming.otf);
}

@font-face {
    font-family: Man;
    src: url(../plugins/global/fonts/custom/Manchester.ttf);
}